
.inputForm {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-template-rows: 10fr;
  margin: 0px 0px 5px 100px;
  text-align: left;
}

.actionButton {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px 0px 5px 100px;
  text-align: left;
  grid-column-gap: 18px;
}

.story-body {
  font-weight: 400;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: #246e31;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 100px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.story-body >div > div > span {
    color: rgb(200, 255, 0);
    font-weight: 800;
}
.outputContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 18px;
  grid-row-gap: 12px;
}
.robot {
  height: 150px;
  width: 150px;
  margin-top: 50px;
  margin-left: 400px;
}

.talking {
  height: 100px;
  position: relative;
  text-align: center;
  color: white;
}
.word {
  position: absolute;
  bottom: -16px;
  left: 220px;
  color:  rgb(200, 255, 0);
  font-weight: 800;
  font-size: x-large;
}

.madlibs-container {
  display: flex;
  flex-direction: column;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

